/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
} 
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body
{
background-image:url("background.jpg");
background-attachment: fixed;
}

.main{
width:75%;
height:auto;
margin:auto;
}
.header{

height:150px;
margin:auto;
}

#logo1{
float:left;
height:150px;
width:30%;}
#logo2{
float:right;
width:70%;
height:150px;}
.menubarre{
font-size:6px;
height:50px;
background-color:#666666;
color:white;
margin-top: 10px;
}
#menu{
padding:0;
margin:0;
line-height:40px;
float:left;

}
#menu li{
list-style:none;
display:inline;
}
#menu a{
text-decoration:none;

font-family:COMIC SANS MS;
margin:5px;
margin-left:15px;
padding:5px;
color:blue;
}
#menu a:hover{color:yellow;font-weight:bolder;}


.contenu{

margin-top: 10px;
/*background-color:blue;*/
}
#sidebar{
border-radius:8px;
width:22%;
float:left;
background-color:#99CCFF;
}
#form{
line-height: 40px;
padding-left: 15px;
padding-top: 15px;
font-family: cursive;
font-weight: bold;
}

#form   input {
width:100px;
border-radius:3px;
/*background-color:#000099;*/
padding:5px;
color: #968765;
}
#form input  submit:hover
{
	background-color: #66CC33;

}
legend{font-weight:bold;font-family:cursive; border=2px}
label{font-weight:bold;font-style:normal; padding-top:10px;}

#titre_cat{
text-align:center;
background:#666699;
color:white;
font-family:arial;
font-size:22px;
padding:10px;
border-radius:8px;
}
#cats{text-align:center;
padding-top:20px;
padding-bottom:20px;}
#cats li{
 list-style:none;
 line-height:30px;
}
#cats a{

color:white;
padding:8px;
margin:5px;
text-decoration:none;
font-size:22px;
font-family:comic sans ms;
}
#cats a:hover{color:blue;font-weight:bolder;}
#content{
width:77%;
float:right;
background-color:#99CCFF;
}
#prods{
width: 770px;
text-align:center;
margin-bottom:20%;
margin-top:4%;
width: 80%; 
margin-left: 50px;"
}
#prod{
float: left;
margin-left:30px;
padding:10px;
}
span{
font-weight:bold;
font-family:cursive;

}
#prod img{border:2px solid blue;}
#bar_panier{ height:50px; background:#666699; color:white;}
a{text-decoration:none;}
#footer{

height:100px;
background-color:#336699;
clear:both;
margin:auto;
}
fieldset{
background-color:#ccc;
border:2px solid #000;
}
#form input[type="submit"]
{
	border: #DDEEFF 1px solid;
	width: 27%;
}



#form input[type="reset"]
{
	border: #DDEEFF 1px solid;
	width: 27%;
}
#form input[type="reset"]:hover
{
	background-color: #E6484D;
	cursor: pointer;
}
.alert {
color: #ff5454;  ///rouge
padding-left: 5px;
}
#form_inscr{



}
#form_inscr label{padding-top:10px;}
#form_contact{}