
body
{
background-image:url("body.jpg");
background-attachment: fixed;
}
.main1{
width:75%;
height:auto;
margin:auto;
}
.main2{
/*width:100%;
height:auto;*/
margin-bottom:10%;
}
.header{
width:100%;
height:110px;
margin:auto;

}

#logo1{
float:left;
height:100px;
width:30%;}
#logo2{
float:right;
height:100px;
width:60%;}
span{
font-size:25px;
font-family:comic sans ms;
color:skyblue;


}
.barre_admin{
width: 100%;
height:50px;
background-color:#99CCFF;
color: white;
border-radius:6px 6px 0px 0px;
border:1px solid black;
line-height:40px;
font-size:15px;
}
}
#menu{

/*margin:0;*/
/*line-height:40px;*/
text-align:center;
font-size:16px;
padding:4px;
text-decoration:none;
}
.barre_admin li{
list-style:none;
display:inline;
}
.barre_admin a:hover{color:white;font-weight:bolder;}
.barre_admin a{
color:white;
padding:2px;
margin:2px;
text-decoration:none;
font-size:18px;
font-family:comic sans ms;

}
.barre_admin span{color:blue; margin-left:20px;}
.barre_admin a:link{color:white;}
.titre{padding-bottom:20px;}
.contenu td{padding-bottom:5px;width:auto; }

#menu a{

color:blue;
padding:5px;
margin:2px;
text-decoration:none;
font-size:20px;
font-family:comic sans ms;
}
#menu li{
list-style:none;
display:block;

}
.sidebarre{

}
.liens_admin a{
text-decoration:none;
font-size:5px;
font-family:cursive;
margin:5px;
margin-right:15px;
padding:5px;
color:blue;
}



.contenu{
border:1px solid black;
width:66%;
height:400px;
margin-top: auto;
background-color:#99CCFF;
float: right;
margin-right: 40px;
border-radius:6px 6px 0px 0px;
} 
.contenu form td{font-family:tahoma;padding-bottom:5px;}
.contenu form input{padding:4px;}

.contenu span{color:black; margin-left:40px;font-family:comic sans ms;}
.contenu a{text-decoration:none;}
.contenu a:hover{color:orange;}
.contenu table{margin-top:20px;}
.contenu  th{ font-size:12px;font-family:tahoma;}
.contenu  td{
text-align:center;}
.contenu fieldset{background-color:#99CCFf;
border:1px solid #000;
margin-left:50px;}

#sidebarre{
margin-bottom:50px;
height:400px;
margin-left: 40px;
border-radius:8px;
width:25%;
float:left;
background-color:#99CCFF;
border-radius:6px 6px 0px 0px;
border:1px solid black;
float:left;
background-color:#99CCFF;
margin-top: 10px;
}


#titre_sidebarre{
text-align:center;
background:#99CCFF;
color:#666699;
font-family:tahoma;
font-size:22px;
padding:10px;

}
li{

list-style:none;}
#menu{
padding:0;
margin:0;
line-height:35px;
float:left;
}
#menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#menu li{
float:left;

list-style:none;
display:block;
}
#menu a:link, a:visited {
    display: inline;

    background-color: #99CCFF;
    width: 200px;
height:39px;

text-decoration:none;

font-family:tahoma;

margin-left:15px;

color:blue;
}
#menu a:hover,a:active{
color:white;   background-color: #666699;
}

