/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
} 
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body
{
background-image:url("background.jpg");
background-attachment: fixed;
}

.main{
width:75%;
height:auto;
margin:auto;
}
.header{

height:120px;
margin:auto;
}

#logo1{
border-radius:6px 0px 0px 6px;
float:left;
height:120px;
width:30%;}
#logo2{
border-radius:0px 6px 6px 0px;
float:right;
width:70%;
height:120px;}
.menubarre{
border-radius:6px 6px 6px 6px;
border:1px solid black;
height:38px;
background-color:#99CCFF;
color:white;
margin-top: 10px;
}
#menu{
padding:0;
margin:0;
line-height:35px;
float:left;
}
#menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#menu li{
float:left;

list-style:none;
display:inline;
}
#menu a:link, a:visited {
    display: inline;
    font-weight: bold;
   /*color: #FFFFFF;*/
    background-color: #99CCFF;
    width: 130px;

height:39px;

text-decoration:none;
/*font-size:21px;*/
font-family:COMIC SANS MS;
/*margin:5px;*/
/*margin-left:15px;*/
padding:6px;
color:black;
}
#menu a:hover,a:active{
color:white;font-weight:bolder;    background-color: #666699;
}

#menu a:active{
color:blue;    background-color: #666699;
}

.contenu{

margin-top: 10px;

}
#sidebar{
border-radius:6px 6px 0px 0px;
width:23%;
float:left;
background-color:#99CCFF;
padding-bottom: 100px;
}
#form{
line-height: 30px;
padding-left: 10px;
padding-top: 12px;
font-family: Arial;
font-weight: bold;
}
#form_log {

line-height: 25px;
padding-left: 10px;
padding-top: 0px;
font-family: Arial;
font-weight: bold;
}
#form_contact{
line-height: 30px;
padding-left: 10px;
padding-top: 12px;
font-family: Arial;
color:black;
}
#form_inscr{margin-top:20px;
margin-bottom:20px;
line-height: 30px;
padding-left: 10px;

font-family: Arial;
color:black;

}
/*champ nécessaire :*/ 
.alert {
color:#ff5454;  
padding-left:5px;
}
#form_rech{
line-height:30px;
padding-left: 10px;
padding-top: 12px;
font-family: Arial;
font-weight: bold;}
#form_rech input{margin-left:10px;}
#form_rech select{margin-left:10px;margin-top:10px; margin-bottom:7px;padding:3px;width:192px;}
form  input{
border-radius:4px;
/*background-color:#000099;*/
padding:3px;
//color: #968765;
color:blue;
font-weight:bold;
margin-top: 5px;
}
#rech{margin-top:150px;}
legend{font-weight:bold;font-family:cursive; border:2px;}
label{font-weight:bold;font-style:normal; font-size:13px;}
/* button submit */
form input[type="submit"]
{color:black;
	border: #DDEEFF 1px solid;
 width:74px;;
}

form input[type="submit"]:hover
{color:black;
	background-color: #6699cc;

	cursor: pointer;
}

form input[type="reset"]
{color:black;
width:74px;
	border: #DDEEFF 1px solid;
	width: 27%;
}

form input[type="reset"]:hover
{color:black;

	background-color: #6699cc;
	cursor: pointer;
}
#titre_cat{
text-align:center;
background:#666699;
color:white;
font-family:arial;
font-size:18px;
padding:10px;
border-radius:6px 6px 0px 0px;
border:1px solid black;
}
#cats{text-align:center;
padding-top:10px;
padding-bottom:10px;}
#cats li{

 list-style:none;
 line-height:30px;
}
#cats a{

color:black;
padding:8px;
margin:5px;
text-decoration:none;
font-size:16px;
font-family:cursive;

}
#cats a:hover{color:blue;font-weight:bolder;}
#content{
border-radius:6px 6px 0px 0px;
padding-bottom: 66px;
width:76%;
float:right;
background-color:#99CCFF;
}
#prods{
width: 770px;
text-align:center;
margin-bottom:10px;

width: 80%; 
margin-left: 50px;"
}
#prod{
float: left;
margin-left:30px;
padding:10px;
}

span{


font-family:tahoma;

}
#bar_panier span a{ 

font-family:tahoma;
color:white;
}
#bar_panier span a:hover{ 
color:blue;
}

#bar_panier{ 
border:1px solid black;
font-family:arial;
border-radius:6px 6px 0px 0px;
height:38px; 
background:#666699;
color:white;
 }
 #bar_panier a{
 color:blue;}
#bar_panier a:hover{color:white;}
a{text-decoration:none;}
#footer{

margin-top:50px;
height:100px;
background-color:#99CCFf;
clear:both;
margin:auto;
}
fieldset{
background-color:#99CCFf;
border:1px solid #000;
margin-left:50px;

}
/*titre de déconnection en haut :*/
#decon{float:right;}
#haut{
color:skyblue;
	width:75%; 
	height:10px;
	margin:10px 160px 10px auto;
	padding:0px 0px 0px 50px;
	background:transparent;
		font-size:14px;
	}
	#haut a{
	margin-right:30px;float:right;

	color:skyblue;
	}
	#haut a:hover{
	margin-right:30px;float:right;
	color:white;
	}
#nom_cli{
color:#skyblue;
font-weight:bold;
}
#form_panier{

margin-top:30px;
}
#form_panier fieldset{
font-weight:bold;font-family:cursive;
margin-top:20px;
}
#lien_page prod a:visited{
color:red;
}
#prix_tot{color:blue;font-weight:bold;}
